* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

.App {
  height: 100%;
}

/* ---------------------------------- Fonts --------------------------------- */

/* font-family: 'Bungee', cursive; */
/* font-family: 'Bungee Inline', cursive; */
/* font-family: 'Sen', sans-serif; */

/* ----------------------------------- App ---------------------------------- */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: transparent;
}

/* --------------------------------- Navbar --------------------------------- */

.nav-parent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 2.5rem;
  height: 7vh;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* -------------------------------- Home Page ------------------------------- */

.home-great-grandparent {
  display: flex;
  align-items: center;
  height: 80vh;
  /* border: #e53535 dotted 3px; */
}

.home-uncle .home-grease {
  transform: translate(186px, -90px);
  /* transform: translateX(200px); */
}

.home-parent {
  display: flex;
  flex-direction: column;
  /* border: black dotted 2px; */
  padding: 4rem;
  letter-spacing: 0.1rem;
  gap: 3rem;
}

.home-parent a {
  text-decoration: none;
}

.home-parent :nth-child(1) {
  /* border: #e53535 dotted 2px; */
  font-family: bungee;
  /* font-size: 3rem; */
}

.home-p1 {
  font-size: 3rem;
}

.home-write {
  font-size: 3rem;
}

.home-parent :nth-child(1) span {
  color: red;
}

.home-parent :nth-child(2) {
  display: flex;
  justify-content: end;
  color: red;
  /* border: teal dotted 2px; */
}

.home-parent :nth-child(2) span {
  color: black;
  position: relative;
  bottom: 20px;
}

.home-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 255px;
  height: 64px;
  background: #e53535;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  color: white;
  font-family: bungee;
  font-size: 1.2rem;
}

/* ----------------------------- Restaurant List ---------------------------- */

.rl-parent {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 80%;
  border: #e53535 2px solid;
  gap: 1rem;
}

.rl-title {
  width: 100%;
  border: black 2px dotted;
  font-family: bungee;
  font-size: 2rem;
}

.rl-add-button-div {
  display: flex;
  position: fixed;
  align-items: center;
  bottom: 30px;
  right: 150px;
  font-family: bungee;
  font-size: 2rem;
  color: red;
  gap: 1rem;
  z-index: 1;
  /* border: #e53535 2px solid; */
  /* transform: translate(100px); */
}

.rl-add-button {
  background: #e53535;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 64px;
  color: white;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

/* -------------------------------- Add Restaurant -------------------------------- */

.ar-parent {
  border: red 2px dotted;
}